body {
  font-family: Arial, sans-serif;
  background-color: #f7f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: rgb(206, 163, 163);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

input {
  width: 92%;
  padding: 10px;
  margin: 15px 0;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #a52890;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #df3fa1;
}

#hasil {
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
}
