body {
  font-family: Arial, sans-serif;
  background-color: #f8fafc;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  background: #ffffff;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1, h3 {
  text-align: center;
}

.form-antrian {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  background-color: #f63b64;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ce4b51;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  background: #e0f2fe;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 5px;
}

#pesanLayanan {
  margin-top: 10px;
  font-weight: bold;
  color: #059669;
  text-align: center;
}
